# from vue project
/web/.DS_Store
/web/node_modules
/web/dist

# local env files
/web/.env.local
/web/.env.*.local

# Log files
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*

# Editor directories and files
/web/.idea
/web/.vscode
/web/*.suo
/web/*.ntvs*
/web/*.njsproj
/web/*.sln
/web/*.sw*

# from laravel project
/api/node_modules
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/vendor
/api/.env
/api/.phpunit.result.cache
/api/Homestead.json
/api/Homestead.yaml
/api/npm-debug.log
/api/yarn-error.log