$sidebarHeight: 60px;
$borderRadius: 20px;
$editorThemeBg: #151515;
$lightGray: #2d2d2d;
$grayText: #ccc;

$darkgray: #333;
$green: #00e572;
$yellow: #fffd82;
$orange: #ff9b71;
$red: #ff5b69;

@import "sass-mq";

*,
*:before,
*:after,
input, textarea, button {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: lighten($editorThemeBg, 7);
}

.hero a {
  transition: all 250ms ease-in-out;
  &,
  &:visited,
  &:active {
    color: $green;
  }
  &:hover {
    color: lighten($green, 20);
  }
}

.container {
  @include mq($until: tablet) {
    width: mq-get-breakpoint-width(mobile, $mq-breakpoints);
  }
  @include mq($from: tablet) {
    width: mq-get-breakpoint-width(tablet, $mq-breakpoints);
  }
  @include mq($from: desktop) {
    width: mq-get-breakpoint-width(desktop, $mq-breakpoints);
  }
  @include mq($from: wide) {
    width: mq-get-breakpoint-width(wide, $mq-breakpoints);
  }
  margin: 0 auto;
}

.paginate {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 720px;
  margin: 20px auto;
  user-select: none;
  li {
    display: block;
    flex-grow: 1;
    &:first-child a {
      border-radius: $borderRadius 0 0 $borderRadius;
    }
    &:last-child a {
      border-radius: 0 $borderRadius $borderRadius 0;
    }
    a{
      display: block;
      outline: none;
      text-align: center;
      width: 100%;
      padding: 10px 20px;
      background-color: lighten($editorThemeBg, 3);
      color: $grayText;
      letter-spacing: 1px;
      &:hover, &.active {
        background-color: lighten($editorThemeBg, 5);
      }
    }
    &.active a {
      background-color: lighten($editorThemeBg, 5);
      font-weight: 600;
    }
    &.disabled a {
      background-color: lighten($editorThemeBg, 10);
      color: darken($grayText, 50);
      cursor: default;
    }
  }
  @include mq($until: tablet) {
    flex-direction: column;
    li {
      &:first-child a {
        border-radius: $borderRadius $borderRadius 0 0;
      }
      &:last-child a {
        border-radius: 0 0 $borderRadius $borderRadius;
      }
    }
  }
}