$sidebarHeight: 60px;
$borderRadius: 20px;
$editorThemeBg: #151515;
$lightGray: #2d2d2d;
$grayText: #ccc;

$darkgray: #333;
$green: #00e572;
$yellow: #fffd82;
$orange: #ff9b71;
$red: #ff5b69;

*,
*:before,
*:after,
input, textarea, button {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: lighten($editorThemeBg, 7);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.paginate {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 720px;
  margin: 0 auto;
  user-select: none;
  li {
    display: block;
    flex-grow: 1;
    margin: 5px;
    a{
      display: block;
      outline: none;
      text-align: center;
      width: 100%;
      padding: 10px 20px;
      background-color: $grayText;
      border-radius: $borderRadius;
      letter-spacing: 1px;
      &:hover, &.active {
        background-color: lighten($grayText, 20);
      }
    }
    &.active a {
      background-color: lighten($grayText, 20);
      font-weight: 600;
    }
    &.disabled a {
      background-color: transparent;
      color: $grayText;
      cursor: default;
    }
  }
}


.form-item {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  &.with-margin {
    margin-top: 15px;
  }
  label {
    font-size: 0.8em;
    color: $grayText;
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
  input,
  button {
    padding: 10px;
    border: 0;
    letter-spacing: 1px;
    font-size: 1.1em;
  }
  input {
    width: 100%;
  }
  button {
    outline: none;
    border-radius: $borderRadius;
    display: block;
    background-color: $green;
    font-weight: 700;
    min-width: 50%;
    flex-grow: 1;
  }
  a {
    margin-left: 15px;
    font-size: 0.9em;
    display: block;
    text-decoration: none;
    color: $grayText;
  }
}